/.vscode
/fyne_setup
Kallaxy DB.session.sql
run_migrations_up.sh
run_migrations_down.sh
.env
spellbook.md
sqlc.yaml
client/config/appstate.json
/client/gui/assets
bundled.go
client/config/cache.json
client/config/metadata_fields_map.json
.gitignore
client/config/metadata_fields_specs.json
docker-compose.yml
docker-entrypoint.sh
.gitignore
Dockerfile.server
kallaxy_start.bat
.dockerignore
